::-webkit-calendar-picker-indicator {
    content: url("images/calendar.png");
}
.setting__fix {
    margin: 0 auto;
    padding-right: 0 !important;
}

.account__btn {
    // border: 1px solid deepskyblue;
    // border-radius: 4px;
    // /* max-width: 199px; */
    height: 38px;
    // background: transparent;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    span {
        color: #fff;
        font-size: 16px;
        display: inline-block;
        padding: 1px 10px 0 0;
    }
}

.account {
    background: #6b7fe3;
    h2 {
        padding: 25px 0 40px;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 68px;
        color: #fff;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #fff;
    // max-width: 300px;
    a {
        background-color: #fff;
        // width: 300px;
        // height: 60px;
        padding: 19px 28px;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        line-height: 1.375;
        border-top: 1px solid #eeeeee;
        &:hover,
        &:active {
            background-color: #000;
            color: #fff;
        }
        &.menu_active_tab {
            background-color: #fff;
            color: #fff;
        }
    }
}
.saved-message {
    font-family: "Fira Sans";
    position: absolute;
    width: 1920px;
    top: -422px;
    left: -900px;
    background-color: #fff;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    z-index: -1;
  }
.setting__img {
    margin-left: 15px;
    .setting__elem {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 170px;
        height: 294px;
        padding: 20px;
        button {
            width: 130px;
            height: 40px;
            font-size: 12px;
            line-height: 1.833;
            border-radius: 4px;
        }
        .download {
            background-color: #f7f7f7;
            color: #6b7fe3;
            margin: 40px 0 5px;
            &:hover {
                background-color: #6b7fe3;
                color: #fff;
            }
        }
        .remove {
            background-color: #f7f7f7;
            color: #6b7fe3;

            &:hover {
                background-color: #6b7fe3;
                color: #fff;
            }
        }
        img.user__image {
            width: 130px;
            height: 130px;
            object-fit: cover;
        }
    }
}

.form-group input,
.form-control:focus {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    height: 58px;
    font-size: 16px;
    line-height: 1.375;
    background: transparent;
    box-shadow: none;
    input.invalid {
        border-color: #ed3838;
    }
}

.form-radio p,
.form-group label,
.setting__img p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}
.radio {
    input {
        display: none;
        &:checked + label::after {
            transform: scale(1);
        }
        &:checked + label::before {
            border-color: #fff;
        }
    }

    label {
        font-size: 16px;
        color:#fff;
        line-height: 1.375;
        display: inline-flex;
        align-items: center;
        position: relative;
        margin-right: 45px;
        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            border-radius: 4px;
            border: 1px solid #d7eef6;
            margin-right: 10px;
        }
        &::after {
            content: "";
            transition: transform 0.5s ease 0s;
            position: absolute;
            top: 7px;
            left: 7px;
            border-radius: 2px;
            width: 10px;
            height: 10px;
            background: #fff;
            transform: scale(0);
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.form-btn {
    border-radius: 4px;
    background-color: #fff;
    width: 170px;
    height: 60px;
    line-height: 1.375;
    text-align: center;
    margin: 18px 0;
    font-size: 16px;
    color: #6b7fe3;
    a {
        font-size: 16px;
        color: rgb(255, 255, 255);
    }
    &:hover {
        background-color: #6b7fe3;
        color: #fff;
    }
}
// .auth-block .form-btn:hover {
//    background-color: transparent;
//    border: 1px solid #00bfff;
//    a {
//       color: #00bfff;
//    }
// }
.setting-form p {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}
.form-title {
    font-size: 24px;
    line-height: 1.417;
    margin-bottom: 40px;
    font-weight: 500;
}
.form-txt {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
    a {
        color: #00bfff;
        border-bottom: 1px solid #00bfff;
        display: inline;
        font-weight: 300;
    }
}
.form-links {
    display: flex;
    flex-direction: column;
    a {
        color: #fff;
        // border-bottom: 1px solid rgb(51, 51, 51);
        margin-bottom: 3px;
        text-decoration: underline;
        font-weight: 300;

        &:hover {
            color: #00bfff;
        }
    }
}

.auth-block {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    max-width: 470px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    .form-group {
        width: 100%;
        margin-bottom: 25px;
    }
    .form-btn {
        border: 1px solid #6b7fe3;
        width: 100%;
        margin: 0 0 25px;
    }
    .row {
        margin: 0;
    }
    .form-btn:hover {
        background: #6b7fe3;
        a {
            color: rgb(255, 255, 255);
        }
    }
}
.gratitude-block {
    .form-title {
        color: #00bfff;
    }
    .form-title {
        margin-bottom: 20px;
    }
}
.gratitude-txt {
    font-size: 16px;
    color:#fff;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: 45px;
}

.setting-auth {
    padding: 0 0 0 7.3333333333%;
}
.setting-auth .form-group {
    max-width: 365px;
}
//  #entrance .form-group {
//    width: 100%;
//    margin: 0 16px 25px;
// }

// @media (max-width: 1200px) {

// }

@media (max-width: 992px) {
    .setting__img {
        .setting__elem {
            img.user__image {
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
        }
    }
    .setting__img {
        margin: 25px 15px 0 0;
        width: 100%;
        .setting__elem {
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-between;
            img {
                margin: 0 !important;
            }
            div {
                flex-direction: column;
                display: flex;
                .download {
                    margin: 0 0 10px;
                }
            }
        }
    }
    .setting__menu {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .setting__img .setting__elem {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .setting-auth .form-group {
        max-width: 100%;
    }
    .block__form-btn {
        display: flex;
        justify-content: center;
    }
    .setting__img {
        .setting__elem {
            img.user__image {
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 576px) {
    .setting__img {
        .setting__elem {
            img.user__image {
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
        }
    }
    .auth-block .form-btn {
        margin-top: 10px;
    }
    .auth-block .form-group {
        margin-bottom: 10px;
    }
    #setting .account__btn {
        margin-left: 0;
    }
    .setting__menu a {
        padding: 12px 28px;
        font-size: 12px;
    }
    .form-radio p,
    .form-group label,
    .setting__img p,
    .form-txt,
    .form-links a {
        font-size: 10px;
        color: #fff;
    }
    .form-group input {
        height: 50px;
        font-size: 16px;
        color: #f7f7f7;
    }
    .block__form-btn {
        display: flex;
        justify-content: center;
    }
    .form-btn {
        height: 50px;
        font-size: 14px;
    }
    .auth-block .form-title {
        margin: 0 0 10px;
    }
    .account h2 {
        padding: 15px 0 25px;
        margin-bottom: 40px;
    }
    #section,
    footer {
        padding: 30px 0px;
    }
    form p {
        //margin-top: 20px;
    }
    .form-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .auth-block {
        padding: 30px;
    }
    .gratitude-txt {
        font-size: 12px;
        padding-bottom: 20px;
        br {
            display: none;
        }
    }
}
