body {
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.571;
    color: #6b7fe3;
    text-align: left;
    background-color: #fff;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    height: 100%;
}

footer {
    flex: 1 0 auto;
}

ul,
li,
a,
span,
p {
    display: block;
    padding: 0px;
    margin: 0px;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
    text-decoration: none;
    outline: none;
}

.container {
    position: relative;
}
.layout{
    width: 100%;
    height: 100%;
    position: absolute;
    top:25px;
    left: 0;
    opacity: 0.4;
    background-color: #000;
    z-index: 0;
}
.header__container{
    margin: 0 auto;
    position: relative;
    max-width: 50%;
}
section {
    padding: 50px 0px;
}

//  HEADER
header {
    max-height: max-content;
    padding: 5px 0 0 0;
    z-index: 1;

    .row {
        min-width: 100%;
        display: flex;
        justify-content:space-between;
        margin: 0;
        flex-direction: row;
    }

    a {
        p {
            color: #6b7fe3;
            margin-right: 8px;
            transition: 0s;
        }

        img {
            max-height: 16px;
        }

        span {
            display: inline;
            transition: 0s;
        }
    }
    .header__logo{
        margin: 0;
        margin-top: 5px;
        min-width: 75px;
        min-height: 55px;
        background-image: url('../images/header__logo.png');
        background-size: contain;
        background-repeat: no-repeat;

    }
    .header__logo-link{
     z-index: 1;
    }
    .header__logo-text{
        position: absolute;
        top:35px;
        left: 120px;
        min-width: 190px;
        max-width: 300px;
        font-size: 18px;
        line-height: 1.375;
    }
    .header__btns{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
    }
    @media (max-width: 1600px) {
        .header__logo{
        top:2%;
        left:5%;
        width: 70px;
        min-height: 80px;
    }
    .header__logo-link{
     z-index: 1;
    }
    .header__logo-text{
        position: absolute;
        top:3%;
        left: 10%;
        min-width: 100px;
        max-width: 200px;
        font-size: 14px;
        line-height:  1.375;
    }

    }
    @media (max-width: 1200px) {
    .header__logo-text{
        min-width: 100px;
        max-width: 150px;
        font-size: 12px;
        line-height:  1;
    }

    }

    @media (max-width: 1080px) {
        .header__logo{
        top: 4%;
        left: 3%;
        width: 70px;
        min-height: 80px;
    }

    }
    .btn-active:hover {
        background: #6b7fe3;
        transition: 0s;

        p {
            color: rgb(255, 255, 255);
        }

        svg {
            fill: rgb(255, 255, 255);
        }
    }

    svg {
        width: 16px;
        height: 16px;
        fill: #6b7fe3;
        transition: 0s;
        margin-left: -8px;
    }

    .btn-exit {
        svg {
            transform: scaleX(-1);
        }
    }
}

.btn-active {
    border: 1px solid #6b7fe3;
    border-radius: 4px;
    height: auto;
    background: transparent;
    padding: 8px 0;
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-active-admin {
    margin-top: 10px;
    color: #6b7fe3;
}
.btn-active-admin:hover {
    color: #6b7fe3;
}
.logotip {
    display: flex;
    align-items: center;
    padding: 0;

    p {
        font-weight: 300;
        font-size: 14px;
        margin-left: 5px;
    }

    span {
        color: #6b7fe3;
    }

    img {
        max-height: 10px;
    }
}

//  HEADER

// МАКЕТ 01
#first {
    margin: auto;
    position: relative;
    width: 80%;
    overflow: hidden;
    padding: 150px 215px;
    color: #6b7fe3;
    text-align: center;
    margin-top: -35px;
    // position: relative;
    button {
        margin-top: 32px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.375;
        text-align: center;
        border-radius: 4px;
        background-color: #6b7fe3;
        width: 270px;
        height: 60px;
        background: transparent;
    border: none !important;
    font-size:0;
    }
}
.slide {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide.active {
    opacity: 1;
  }

h1 {
    margin-top: -550px;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;

    span {
        font-size: 36px;
        line-height: 2.5;
        font-weight: 300;
    }
}

.first__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 0 -210px;
    // position: relative;
}
.first__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px 0 -200px;
    max-width: 100%;
    // position: relative;
}
.first__title{
    color: #6b7fe3;
}
.first__btn-active {
    max-height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #6b7fe3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 250px;
    font-size: 20px;
  }
  .first__btn-active:hover {
    background-color: #404b87;
    color: #fff; /* Устанавливаем прозрачность 0.8 при наведении */
  }

.first__item {
    margin: 0 15px;
    padding: 0;
    height: 130px;
    -webkit-box-shadow: 0px 7px 18px -6px rgba(156, 163, 36, 0.6);
    -moz-box-shadow: 0px 7px 18px -6px rgba(156, 163, 36, 0.6);
    box-shadow: 0px 7px 18px -6px rgba(156, 163, 36, 0.6);
    font-size: 20px;
    color: rgb(51, 51, 51);
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: #6b7fe3;
    align-items: center;


    div {
        background-color: #6b7fe3;
        // width: 215px;
        font-size: 48px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        line-height: 0.667;
        text-align: center;
        padding: 49px 28px;
        max-width: 130px;
    }

    p {
        // width: 340px;
        text-align: left;
        font-size: 20px;
        line-height: 1.4;
        padding-left: 30px;
        font-weight: 300;
    }
}

.about__img {
    float: left;
}

.about__block_l {
    margin: 60px 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
     //background: #ffffff url(../images/man.png) no-repeat;
    .about__text {
        // padding: 0 0 65px;
        span {
            color: #6b7fe3;
            font-size: 50px;
            margin-bottom: 45px;
        }

        p {
            margin-bottom: 45px;
        }

        a {
            font-size: 18px;
            color: rgb(255, 255, 255);
            line-height: 1.333;
            width: 153px;
            height: 33px;
            padding: 5px 0;
            text-align: center;
            border-radius: 4px;
            margin: 0 auto;
            background-color: #6b7fe3;
            box-shadow: 0px 15px 43px 0px rgba(156, 163, 36, 0.22);
        }

        a:hover {
            color: rgb(255, 255, 255);
        }

        .about__prg {
            color: rgb(119, 119, 119);
            font-style: italic;

            float: right;
            //margin: 15px 70px;
            margin-top: 15px;
            margin-right: 40px;
        }
    }
}
#about{
    max-width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    overflow: hidden;
    z-index: 0;
  }

  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .slider-item__image {
    max-width: 300px;
    margin-left: 165px; /* Задайте желаемое значение отступа */
  }


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.389;
    margin-bottom: 40px;
}


.merit__subtitle {
    font-size: 36px;
    color: #6b7fe3;
    line-height: 1.389;
    font-weight: 700;
    padding-bottom: 55px;
}

.merit__list {
    opacity: 1;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.merit__item {
    border: 1px solid rgba(156, 163, 36, 0.4);
    border-radius: 4px;
    // margin: 0 15px;
    // height: 270px;
    padding: 40px 37px 20px;

    p {
        font-size: 16px;
        line-height: 1.5;
        margin: 30px 0 12px;
    }

    div {
        color: #6b7fe3;
    }
}

@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin pc-layout {
  @media screen and (min-width: 751px) {
    @content;
  }
}

p {
  margin: 0;
}

#burger-toggle {
  appearance: none;
  opacity: 0;

  &:checked {
    & ~ .menu {
      opacity: 1;
      visibility: visible;

      .menu-nav-link span div,
      img,
      .title p {
        transform: translateY(0);
        transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
      }

      .image-link {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) img {
            transition-delay: 0.1s + 0.08s * $i;
          }
        }
      }
    }

    & ~ .burger-menu {
      .line {
        &::after {
          transform: translateX(0);
        }

        &:nth-child(1) {
          transform: translateY(calc(var(--burger-menu-radius) / 5))
            rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc(var(--burger-menu-radius) / -5))
            rotate(-45deg);
        }
      }
    }
  }
}

.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 1vh;
  right: 3vw;
  z-index: 3;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;

  .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #6b7fe3;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 70%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--primary-color-darker);
      transform: translateX(-100%);
      transition: 0.25s;
    }

    @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 0.1s * ($i - 1);
      }
    }
  }

  &:hover {
    .line::after {
      transform: translateX(0);
    }
  }
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6b7fe3;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;

  @include sp-layout {
    display: block;
  }

  &-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

    @include sp-layout {
      flex-direction: column;
    }

    &-item {
      flex: 1;
    }

    &-link {
      position: relative;
      display: inline-flex;
      font-size: 2rem;
      color: white;
      text-decoration: none;

      span {
        overflow: hidden;

        div {
          transform: translateY(102%);
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #6b7fe3;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .gallery {
    margin-top: 60px;
    text-align: center;
  }

  .title {
    font-size: 24px;
    color: white;
    overflow: hidden;

    p {
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      transform: translateY(102%);
    }
  }

  .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;

    @include sp-layout {
      justify-content: center;
    }

    .image-link {
      width: 15vw;
      margin: 0 12px;
      overflow: hidden;

      @include sp-layout {
        width: 40vw;
        margin: 0 12px 12px 0;
      }

      .image {
        position: relative;
        transition: 0.6s;

        &::before {
          position: absolute;
          content: attr(data-label);
          top: 0;
          left: 0;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: white;
          background:rgba(107, 127, 227, 0.6);;
          opacity: 0;
          transition: 0.4s;
        }
      }

      &:hover .image {
        transform: scale(1.3);

        &::before {
          opacity: 1;
        }
      }
    }

    img {
      min-height: 250px;
      transform: translateY(102%);
    }
  }
}
